a {
  text-decoration: none;
}

html {
  font-size: 100%;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body.load {
  height: 100vh;
  overflow: hidden;
}

body {
  overflow-x: hidden;
  background: #141621;
}

header {
  z-index: 3;
}

.loader {
  background: #141621 url(../img/line-maker.svg) repeat 50% 50%;
  background-size: 8.75rem;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 9999;
  position: fixed;
}

.loader div {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: loader 1.5s infinite ease;
  animation: loader 1.5s infinite ease;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  color: #fff;
  font: 400 3rem/1.8rem Panton, sans-serif;
  text-transform: uppercase;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-image: url(../img/line-maker.svg);
  background-repeat: repeat;
  background-position: center center;
  background-size: 8.75rem;
}

.wrap {
  padding: 0 5.9375rem;
  width: 100%;
  max-width: 1670px;
  margin: 0 auto;
}

.works__wrap {
  width: 100%;
  padding: 0;
  max-width: 100%;
}

.header {
  margin-top: 7.125rem;
  display: inline-block;
  width: 100%;
  z-index: 50;
}

.header__logo {
  float: left;
  display: none;
}

.header__logo.dop a {
  background-color: #0d44db;
  padding: 5px;
  border-radius: 3px;
}

.header__logo.dop {
  display: block;
  z-index: 50;
  position: relative;
}

.header__logo a {
  color: #fff;
  font: 400 2.5rem Panton, sans-serif;
}

nav {
  float: left;
  /*margin-left: 9.9rem;*/
}

nav ul {
  padding: 0;
}

nav ul li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8rem;
}

nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: #475069;
  font: 400 1.6rem/1.6 DINcond, sans-serif;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #277bed;
}

.header__logo img {
  max-height: 2.1875rem;
}

.header__communications {
  float: right;
  margin-top: 1rem;
}

.header__communications--community-button {
  font: 1.6rem DINcond, sans-serif;
  color: #475069;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
}

.header__communications--community-button:after {
  content: " ";
  display: inline-block;
  width: 2.375rem;
  height: 2.375rem;
  background: #292c3b url('../img/svyaz.png') 50% 50% no-repeat;
  background-size: 1.875rem;
  border-radius: 50%;
  vertical-align: middle;
  margin-left: 2.8125rem;
  margin-top: -0.5rem;
}

.main {
  position: relative;
}

.main__wrap {
  height: calc(100vh - 2.375rem - 7vw);
  position: relative;
}

.main__content {
  margin-top: calc(35vh - 6.4375rem);
  max-width: 26.875rem;
  display: inline-block;
  width: 50%;
}

.main__background {
  display: inline-block;
  width: 40vw;
  margin-left: 0;
  position: absolute;
  height: calc(100vh - 4vw);
  bottom: auto;
  top: -2.5rem;
  right: 15%;
}
.main__canvas {
  position: absolute;
  border-radius: 50%;
  max-width: 50.625rem;
  max-height: 50.625rem;
  width: 40vw !important;
  height: 40vw !important;
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
canvas {
  position: absolute;
  border-radius: 50%;
  max-width: 50.625rem;
  max-height: 50.625rem;
  width: 43vw !important;
  height: 43vw !important;
  opacity: 1;
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  transform: rotate(-15deg);
  -webkit-animation: radial__rotate 2.8s ease;
  animation: radial__rotate 2.8s ease;
}

.main__dbl {
  position: absolute;
  border-radius: 50%;
  max-width: 50.625rem;
  max-height: 50.625rem;
  width: 38vw !important;
  height: 38vw !important;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 1;
  -webkit-animation: dbl_shadow 3s 2.5s ease forwards;
  animation: dbl_shadow 3s 2.5s ease forwards;
}

.main__photo {
  overflow: hidden;
  width: calc(100% - 165px);
  height: calc(100% - 165px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 5s ease;
}

.main__photo.show {
  opacity: 1;
  transition: 5s ease;
}

.main__photo img {
  position: absolute;
  height: 100%;
  width: 100%;
}

.main__dbl canvas {
  -webkit-animation: none;
  animation: none;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  left: 0;
  top: 0;
  -webkit-filter: blur(2.5rem);
  filter: blur(2.5rem);
  -webkit-animation: radial__opacity 5s ease forwards;
  animation: radial__opacity 5s ease forwards;
}

.main__man {
  position: absolute;
  width: 100%;
  height: calc(100vh - 6.8vw);
  background: url(../img/man.png) 50% 0 no-repeat;
  background-position: 50% bottom;
  background-size: contain;
  top: 1.875rem;
  opacity: 0;
  -webkit-animation: opac__man 2s linear forwards;
  animation: opac__man 2s linear forwards;
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: none;
}

.main__title {
  text-transform: none;
  color: #fff;
  font: 400 3.3rem Panton, sans-serif;
  line-height: 4rem;
  margin: 0 0 1.875rem;
}

.main__sub-title {
  color: #7984a3;
  font: 300 1.8rem/1.5 ProximaNova, sans-serif;
  position: relative;
  opacity: 0;
  -webkit-transform: translateY(3.125rem);
  -ms-transform: translateY(3.125rem);
  transform: translateY(3.125rem);
  -webkit-animation: main__sum-title 2.7s linear forwards;
  animation: main__sum-title 2.7s linear forwards;
}

@-webkit-keyframes radial__rotate {
  0%  { opacity: 0; -webkit-transform: rotate(-560deg); transform: rotate(-560deg);
    -webkit-box-shadow: none;
    box-shadow: none; }
  70% {opacity: .6;}
  100%  { opacity: 1; -webkit-transform: rotate(-15deg); transform: rotate(-15deg);
    -webkit-box-shadow: none;
    box-shadow: none;}
}

@keyframes radial__rotate {
  0%  { opacity: 0; -webkit-transform: rotate(-560deg); transform: rotate(-560deg);
    -webkit-box-shadow: none;
    box-shadow: none; }
  70% {opacity: .6;}
  100%  { opacity: 1; -webkit-transform: rotate(-15deg); transform: rotate(-15deg);
    -webkit-box-shadow: none;
    box-shadow: none;}
}

@-webkit-keyframes dbl_shadow {
  100% {
    -webkit-box-shadow: 30px 30px 160px 30px rgba(0, 0, 0, .32), inset 50px 50px 150px 100px rgba(0, 0, 0, .5);
    box-shadow: 30px 30px 160px 30px rgba(0, 0, 0, .32), inset 30px 40px 160px 80px rgba(0, 0, 0, .5);
  }
}

@keyframes dbl_shadow {
  100% {
    -webkit-box-shadow: 30px 30px 160px 30px rgba(0, 0, 0, .32), inset 50px 50px 150px 100px rgba(0, 0, 0, .5);
    box-shadow: 30px 30px 160px 30px rgba(0, 0, 0, .32), inset 30px 40px 160px 80px rgba(0, 0, 0, .5);
  }
}

@-webkit-keyframes radial__opacity {
  0%  { opacity: 0;}
  100%  { opacity: .4; left: 6%; top: 6%;}
}

@keyframes radial__opacity {
  0%  { opacity: 0; }
  100%  { opacity: .4; left: 6%; top: 6%;}
}

@-webkit-keyframes button__move {
  100%  {background-position: 85% 50%; background-color: #5677F6;}
}

@keyframes button__move {
  100%  { background-position: 85% 50%; background-color: #5677F6;}
}

@-webkit-keyframes loader {
  0%  { opacity: .5; -webkit-transform: translate(-50%, -50%) scale(.7); transform: translate(-50%, -50%) scale(.7); }
  100%  { opacity: 1; -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); }
}

@keyframes loader {
  0%  { opacity: .5; -webkit-transform: translate(-50%, -50%) scale(.7); transform: translate(-50%, -50%) scale(.7); }
  100%  { opacity: 1; -webkit-transform: translate(-50%, -50%) scale(1); transform: translate(-50%, -50%) scale(1); }
}

@-webkit-keyframes opac__man {
  0%  { opacity: 0; }
  100%  { opacity: 1; }
}

@keyframes opac__man {
  0%  { opacity: 0; }
  100%  { opacity: 1; }
}

@-webkit-keyframes main__sum-title {
  100%  { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }
}

@keyframes main__sum-title {
  100%  { opacity: 1; -webkit-transform: translateY(0); transform: translateY(0); }
}
.main__sub-title b {
  color: #5b5f68;
}

.main__portfolio {
  margin-top: 4.375rem;
}

.main__portfolio a {
  color: #fff;
  text-transform: uppercase;
  font: 1.6rem DINcond, sans-serif;
  display: inline-block;
  position: relative;
  padding-left: 7rem;
}

.main__portfolio a:hover:before {
  -webkit-box-shadow: 40px 0px 45px 0px rgba(24, 79, 145, 0.5);
  box-shadow: 40px 0px 45px 0px rgba(24, 79, 145, 0.5);
}

.main__portfolio a:before {
  content: " ";
  display: block;
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: #0b3ff7 url(../img/eye.png) 50% 50% no-repeat;
  background-size: 55%, cover;
  left: 0;
  top: -8px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about {
  background: #fff;
}

.about .wrap {
  padding: 6.25rem 7.1875rem;
  position: relative;
  min-height: 100vh;
}

.about.effect .about__button {
  position: absolute;
  bottom: 7.1875rem;
}

.about.effect .about__text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: calc(100% - 14.375rem);
}

.about__title {
  color: #131313;
  font: 400 3rem/1.3 Panton, sans-serif;
  margin-bottom: 1.875rem;
  display: block;
  width: 100%;
}

.about__desc {
  color: #131313;
  font: 300 1.6rem/1.4 ProximaNova, sans-serif;
  display: block;
  width: 100%;
  margin-bottom: 4rem;
}

.about__sets {
  display: block;
  width: 100%;
  margin-bottom: 5rem;
  padding-left: 0.625rem;
}

.about__sets-item {
  width: 100%;
  display: block;
  margin-bottom: 2.1875rem;
}

.about__sets-item--ico {
  width: 2.5rem;
  height: 3rem;
  display: inline-block;
  vertical-align: top;
  margin-right: 1.875rem;
}

.about__sets-item--text {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 4.6875rem);
  color: #5c5f66;
  font: 300 1.5rem/1.3 ProximaNova, sans-serif;
}

.about__sets-item:first-child .about__sets-item--ico {
  background: url(../img/about-ico-1.png) 50% 50% no-repeat;
  background-size: 1.375rem;
}

.about__sets-item:last-child .about__sets-item--ico {
  background: url(../img/about-ico-2.png) 50% 50% no-repeat;
  background-size: 38px;
}

.about__button {
  width: 16.25rem;
  height: 4.0625rem;
  text-align: center;
  background: #0d44db;
  color: #fff;
  font: 400 1.3rem/3.9375rem ProximaNova, sans-serif;
  border-radius: 2px;
  cursor: pointer;
  display: inline-block;
}

.about__button:hover {
  opacity: .8;
}

.about.black {
  background-color: #10121d;
  background-image: url(../img/line-maker.svg);
  background-repeat: repeat;
  background-position: center center;
  background-size: 8.75rem;
}

.about.creates .wrap {
  background: url(../img/about_bg-2.png) 0 50% no-repeat;
  background-size: 46vw;
}

.about.black .wrap {
  text-align: right;
  padding: 4rem 7.1875rem;
}

.about.black .about__text {
  text-align: left;
  width: calc(50% - 4.6875rem);
  display: inline-block;
  vertical-align: top;
}

.about.black .about__title,
.about.black .about__desc {
  color: #fff;
}

.about.packing {
  background: #fff url(../img/about_bg-3.png) 100% 65% no-repeat;
  background-size: 46vw;
}

.about.socs .wrap {
  background: url(../img/about_bg-4.png) 5.9375rem 70% no-repeat;
  background-size: 35vw;
}

.about__link {
  display: block;
  width: 100%;
  color: #fff;
  font: 600 1.6rem/1.4 ProximaNova, sans-serif;
}

.competence {
  padding: 12.5rem 0;
  background: #141621;
}

.competence__top {
  display: block;
  width: 100%;
  margin-bottom: 13.7rem;
}

.competence__top--title {
  float: left;
  color: #fff;
  font: 400 3.75rem/1 Bebas, sans-serif;
  text-transform: uppercase;
  text-align: left;
}

.competence__top--desc {
  float: right;
  text-align: left;
  font: 300 1.375rem/1.4 'Gotham Pro', sans-serif;
  color: #fff;
}

.competence__main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.competence__item {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% / 3);
  border: 1px solid #315efb;
  padding: 0 4rem;
}

.competence__item--image {
  width: 15.625rem;
  height: 14.25rem;
  display: block;
  margin-top: -4.375rem;
  background: url(../img/comp-1.png) 50% 50% no-repeat;
  background-size: contain;
  margin-bottom: 4.8rem;
}

.competence__item:nth-child(2) .competence__item--image {
  background: url(../img/comp-2.png) 50% 50% no-repeat;
  background-size: contain;
}

.competence__item:nth-child(3) .competence__item--image {
  background: url(../img/comp-3.png) 50% 50% no-repeat;
  background-size: contain;
}

.competence__item:nth-child(3), .competence__item:nth-child(2) {
  border-left: none;
}

.competence__item--title {
  color: #fff;
  font: 400 2.375rem Bebas, sans-serif;
  text-transform: uppercase;
  margin-bottom: 4.25rem;
}

.competence__item--desc {
  color: #fff;
  font: 300 1.15rem/1.4 'Gotham Pro', sans-serif;
  margin-bottom: 9rem;
}

.works {
  padding: 0;
  width: 100%;
}

.works-block {
  display: block;
  width: 100%;
  margin: 0;
  height: 100vh;
  position: relative;
}

.works-block__triple--section {
  display: inline-block;
  width: 50%;
  margin: 0;
  position: relative;
  height: 100vh;
}

.works-block__triple--section:nth-child(2) {
  margin-left: -4.45px;
}

.works__work {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  z-index: 20;
}

.works-block__triple--left .works-block__triple--section:first-child .works__work {
  height: 50%;
}

.works-block__triple--left .works-block__triple--section:first-child .works__work:last-child {
  top: 50%;
}

.works-block__triple--right .works-block__triple--section:last-child .works__work {
  height: 50%;
}

.works-block__triple--right .works-block__triple--section:last-child .works__work:last-child {
  top: 50%;
}

/*для кейсов  */

.big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  width: 100%;
  display: block;
}

.big .works__work {
  overflow: hidden;
  position: relative;
  vertical-align: top;
  width: calc(100% / 4);
  /*width: 25%;*/
  height: 50vh;
  top: auto;
  left: auto;
}

/********/

.works__work--baikalov {
  background: #CCCCCC url(../img/basket-bg.svg) 50% 50% no-repeat;
}

.works__work--baikalov .logo,
.works__work--baikalov .fig {
  position: absolute;
  top: 50%;
  right: -20%;
}

.works__work--baikalov .logo {
  top: auto;
  left: -50%;
  bottom: -50%;
  right: auto;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  opacity: 0;
}

.works__work--baikalov .fig {
  opacity: 0;
  z-index: 1;
  -webkit-transition: right 0.8s 0.2s ease-in-out, top 0.8s 0.2s ease-in-out, opacity 0.6s 0.4s ease-in-out;
  -o-transition: right 0.8s 0.2s ease-in-out, top 0.8s 0.2s ease-in-out, opacity 0.6s 0.4s ease-in-out;
  transition: right 0.8s 0.2s ease-in-out, top 0.8s 0.2s ease-in-out, opacity 0.6s 0.4s ease-in-out;
}

.works__work--baikalov .fig img {
  max-width: 11.25rem;
}

.works__work--baikalov .logo {
  z-index: 2;
  opacity: 0;
  -webkit-transition: all 0.5s 0.7s ease-in-out;
  -o-transition: all 0.5s 0.7s ease-in-out;
  transition: all 0.5s 0.7s ease-in-out;
  text-align: center;
}

.works__work--baikalov .logo img {
  max-width: 14.375rem;
}

.works__work--m {
  background: url(../img/m-bg.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.works__work--m .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.works__work--m .logo {
  max-width: 9.6875rem;
}

.works__work--cloth {
  background: #306A93 url("../img/begon-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.works__work--cloth .logo {
  position: absolute;
  left: 8%;
  bottom: calc(8% - 3.125rem);
  opacity: 0;
  -webkit-transition: all 0.6s 0.15s ease-in-out;
  -o-transition: all 0.6s 0.15s ease-in-out;
  transition: all 0.6s 0.15s ease-in-out;
  z-index: 2;
}

.works__work--cloth .logo img {
  max-width: 9.375rem;
}

.works__work--cloth .fig {
  position: absolute;
  top: calc(50% + 3.125rem);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.8s 0.15s ease-in-out;
  -o-transition: all 0.8s 0.15s ease-in-out;
  transition: all 0.8s 0.15s ease-in-out;
}

.works__work--cloth .fig img {
  max-width: 35vw;
}

.works__work--cloth .woman {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
  height: 95%;
  z-index: 1;
}

.works__work--cloth .woman img {
  max-width: 23vw;
}

.works__work--impero {
  background: #fff url(../img/kortage-bg.png) 50% 15% no-repeat;
  background-size: contain;
}

.works__work--impero .logo {
  top: 12%;
  left: calc(8% - 3.125rem);
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.works__work--impero .logo img {
  max-width: 9.375rem;
}

.works__work--impero .desc {
  bottom: calc(8% - 3.125rem);
  right: 8%;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.works__work--impero .desc  img {
  max-width: 15.625rem;
}

.works__work--trud {
  background: #fff url(../img/trudvsem-bg.jpg) 50% 15% no-repeat;
  background-size: cover;
}

.works__work--trud .logo {
  top: 12%;
  left: calc(8% - 3.125rem);
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.works__work--trud .logo img {
  max-width: 13rem;
}

.works__work--trud .desc {
  bottom: calc(8% - 3.125rem);
  right: 8%;
  position: absolute;
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.works__work--trud .desc  img {
  max-width: 15.625rem;
}

.works__work--man {
  background: #16181f;
}

.works__work--man .logo {
  position: absolute;
  left: 8%;
  top: calc(12% + 5rem);
  opacity: 0;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.works__work--man .logo img {
  max-width: 100%;
}

.works__work--man .fig {
  position: absolute;
  top: 45%;
  opacity: 0;
  left: calc(50% - 5rem);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 3;
  -webkit-transition: all 0.6s 0.4s ease-in-out;
  -o-transition: all 0.6s 0.4s ease-in-out;
  transition: all 0.6s 0.4s ease-in-out;
}

.works__work--man .fig img {
  max-width: 25.5625rem;
}

.works__work--man .fig2,
.works__work--man .fig3 {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  height: 88%;
  text-align: center;
}

.works__work--man .fig3 img,
.works__work--man .fig2 img {
  max-width: 100%;
}

.works__work--man .fig2 {
  z-index: 1;
  left: 48%;
  opacity: 0;
  -webkit-transition: all 0.6s 0.7s ease-in-out;
  -o-transition: all 0.6s 0.7s ease-in-out;
  transition: all 0.6s 0.7s ease-in-out;
}

.works__work--man .fig3 {
  z-index: 2;
  height: 100%;
  width: 100%;
}

.works__work--man .fig3 img {
  position: absolute;
  height: 100%;
  width: auto;
  display: block;
  max-width: 10000%;
}

.works__work--ponchik {
  background: url(../img/ponchik-bg.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.works__work--ponchik .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 0;
  -webkit-transition: all 0.6s 0.2s ease-in-out;
  -o-transition: all 0.6s 0.2s ease-in-out;
  transition: all 0.6s 0.2s ease-in-out;
}

.works__work--ponchik .logo img {
  max-width: 21.875rem;
}

.works__work--radio {
  background: url(../img/radio-bg.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.works__work--radio_case {
  background: #141924 url(../img/case-fig.png) 50% 50% no-repeat;
  background-size: contain;
}

.works__work--radio .logo {
  position: absolute;
  top: calc(40% - 3.125rem);
  opacity: 0;
  right: 18%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  -webkit-transition: all 0.6s 0.6s ease-in-out;
  -o-transition: all 0.6s 0.6s ease-in-out;
  transition: all 0.6s 0.6s ease-in-out;
}

.works__work--radio_case .logo {
  top: 80%;
}

.works__work--radio .logo img {
  max-width: 8.125rem;
}

.works__work--radio .desc {
  position: absolute;
  right: 19%;
  top: calc(65% + 3.125rem);
  opacity: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
  -webkit-transition: all 0.6s 0.8s ease-in-out;
  -o-transition: all 0.6s 0.8s ease-in-out;
  transition: all 0.6s 0.8s ease-in-out;
}

.works__work--radio .desc img {
  max-width: 7.625rem;
}

.works__work--radio .fig {
  position: absolute;
  top: calc(50% - 3.125rem);
  right: 32%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: .8;
  z-index: 1;
  opacity: 0;
  -webkit-transition: all 0.6s 0.2s ease-in-out;
  -o-transition: all 0.6s 0.2s ease-in-out;
  transition: all 0.6s 0.2s ease-in-out;
}

.works__work--radio .fig img {
  max-width: 4.6875rem;
}

.keys__link {
  color: #fff;
  font: 400 3rem/1.2 Panton, sans-serif;
  top: -3.125rem;
  left: 3.125rem;
  position: relative;
}

.keys footer .wrap {
  max-width: 100%;
}

.keys.radio {
  background: rgba(27, 0, 34, 1);
}

.keys.radio--case {
  background: #141924;
}

.keys__header {
  height: 50vw;
  width: 100%;
  z-index: 1;
  position: relative;
}

.keys.radio .works__work--radio {
  background: url(../img/radio-bg-keys.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.keys.radio .works__work--radio_case {
  background: url(../img/case-fig.png) 50% 50% no-repeat;
  background-size: contain;
}

.keys .works__work:after {
  display: none;
}

.keys .works .works__work:after {
  display: block;
}

.keys .works .works__work--impero .logo,
.keys .works .works__work--trud .logo,
.keys .works .works__work--m .logo {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.keys .works .works__work--m .logo img {
  max-width: 100%;
}

.keys .works .works__work--cloth .woman img {
  max-width: 13vw;
}

.keys .works .works__work--cloth .fig img {
  max-width: 20vw;
}

.keys .works__work--man .fig img {
  max-width: 13.125rem;
}

.keys.radio .keys__header .logo {
  color: #fff;
  font: 600 2.1875rem/1.2 ProximaNova, sans-serif;
  right: 28.5%;
}

.keys.radio .keys__header .desc {
  color: #fff;
  font: 300 1.25rem/1 ProximaNova, sans-serif;
  right: 29.4%;
  /*top: 54%;*/
}

.keys.radio .keys__header .fig img {
  max-width: 8.4375rem;
}

.keys.radio .keys__header .fig {
  right: 35%;
}

.keys__header img {
  max-width: 100%;
}

.keys__image {
  max-width: 95rem;
  width: calc(100% - 25rem);
  display: block;
  margin: 0 auto;
  border-radius: 1.875rem;
  background: rgba(255,255,255,.1);
  padding: 3.5rem;
  top: -2.5rem;
  position: relative;
  z-index: 20;
  margin-bottom: 18.75rem;
}

.keys.impero .keys__image {
  background: rgba(34, 34, 37, 0.6);
  top: -7.5rem;
}

.mob-fix-btn {
  display: none;
}

.keys.impero {
  background: #121212;
}

.keys__image img {
  max-width: 100%;
  border-radius: 10px;
}

.keys.radio .keys__image img {
  -webkit-box-shadow: 0px 35px 120px 0px rgba(187, 13, 68, 0.3);
  box-shadow: 0px 35px 120px 0px rgba(187, 13, 68, 0.3);
}

.keys.metalica {
  background: #141318;
}

.keys.metalica .works__work--m {
  background: url(../img/metalica-head.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.keys.metalica .works__work--m .desc {
  position: absolute;
  top: calc(50% + 9.375rem);
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  color: #8a8889;
  font: 300 1.0625rem/1 ProximaNova, sans-serif;;
}

.keys.metalica .keys__image {
  background: none;
}

.keys.woman .works__work--cloth {
  background: #306A93 url("../img/begon-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.keys.woman .works__work--cloth .desc2 {
  color: #b5988b;
  font: 300 0.9375rem/1.2 ProximaNova, sans-serif;
  position: absolute;
  right: 17vw;
  bottom: 6vw;
}

.keys.woman .works__work--cloth .logo {
  left: 17vw;
}

.keys .img-wrap {
  width: 100%;
  padding: 14.375rem 0;
}

.keys .img-wrap:nth-child(2) {
  padding-top: 0;
}

.keys.woman .img-wrap.yel {
  background: rgb(210,210,200);
  background: -o-linear-gradient(top, rgba(210,210,200,1) 0%, rgba(48,106,147,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(210,210,200,1)), to(rgba(48,106,147,1)));
  background: linear-gradient(180deg, rgba(210,210,200,1) 0%, rgba(48,106,147,1) 100%);
}

.keys.woman .img-wrap.wht {
  background: #fff;
}

.keys .img-wrap .keys__image {
  margin-bottom: 0;
  top: -2.5rem;
}

.keys.woman .img-wrap.wht .keys__image {
  padding: 0 2.5rem;
}

.keys.woman .keys__link {
  top: -6rem;
}

.keys.woman .img-wrap:nth-child(5) .keys__image {
  max-width: 10000%;
  width: 100%;
  padding: 0;
}

.keys.woman .yel .keys__image {
  background: rgba(255,255,255,.6);
}

.keys.woman .yel .keys__image {
  background: rgba(255,255,255,.6);
}

.keys__header .works__work--impero:hover .logo {
  left: 13%;
}

.keys__header .works__work--trud:hover .logo {
  left: 13%;
}

.keys__header .works__work--impero:hover .desc {
  bottom: 20%;
}

.keys__header .works__work--trud:hover .desc {
  bottom: 20%;
}

.keys__header .works__work--man {
  background: url("../img/kanzlider-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}

.keys__header .works__work--man_dobavka {
  background: url("../img/ponchik-bg.jpg") 50% 50% no-repeat;
  background-size: cover;
}
@media(min-width: 993px) {
  .works__work:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 5;
    -webkit-transition: background 0.6s ease;
    -o-transition: background 0.6s ease;
    transition: background 0.6s ease;
  }

  .works__work:hover:after {
    background: transparent;
  }

  .works__work--baikalov:hover .fig {
    opacity: 1;
    top: 0.625rem;
    right: 3.125rem;
  }

  .works__work--baikalov:hover .logo {
    opacity: 1;
    bottom: 1.5625rem;
    left: 0.625rem;
  }

  .works__work--m:hover .logo {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0.85);
    -ms-transform: translate(-50%, -50%) scale(0.85);
    transform: translate(-50%, -50%) scale(0.85);
  }

  .works__work--cloth:hover .fig {
    opacity: 1;
    top: 50%;
  }

  .works__work--cloth:hover .logo {
    opacity: 1;
    bottom: 8%;
  }

  .works__work--impero:hover .logo {
    opacity: 1;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    padding: 1.5625rem;
    border-radius: 0.9375rem;
  }

  .works__work--impero:hover .desc {
    opacity: 1;
    bottom: 8%;
  }

  .works__work--trud:hover .logo {
    opacity: 1;
    left: 50px;
    top: 50px;
    background: rgba(92, 167, 217, .7);
    padding: 1.5625rem;
    border-radius: 0.9375rem;
  }

  .works__work--trud:hover .desc {
    opacity: 1;
    bottom: 8%;
  }

  .works__work--man:hover .logo {
    opacity: 1;
    top: 50%;
    left: 50%;
    z-index: 15;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .works__work--man:hover .fig {
    opacity: 1;
    left: 50%;
    top: 50%;
  }

  .works__work--man:hover .fig2 {
    opacity: 1;
    left: calc(48% + 0.625rem);
  }

  .works__work--ponchik:hover .logo {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0.8);
    -ms-transform: translate(-50%, -50%) scale(0.8);
    transform: translate(-50%, -50%) scale(0.8);
  }

  .works__work--radio:hover .logo {
    top: 40%;
    opacity: 1;
  }

  .works__work--radio_case:hover .logo {
    top: 25%;
    left: 1.5625rem;
  }

  .works__work--radio:hover .desc {
    top: 65%;
    opacity: 1;
  }

  .works__work--radio:hover .fig {
    top: 50%;
    opacity: 1;
  }

  .keys:hover .works__work--radio .logo {
    top: 43%;
    opacity: 1;
  }

  .keys:hover .works__work--radio .desc {
    top: 58%;
    opacity: 1;
  }

  .keys:hover .works__work--radio .fig {
    top: 50%;
    opacity: 1;
  }

  .keys:hover .works__work--m .logo {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0.85);
    -ms-transform: translate(-50%, -50%) scale(0.85);
    transform: translate(-50%, -50%) scale(0.85);
  }

  .keys.woman:hover .works__work--cloth .logo {
    bottom: 4vw;
    top: auto;
    left: 17vw;
  }
}

@media(max-width: 992px) {
  .mob-fix-btn {
    position: fixed;
    bottom: -80px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font: 400 18px/1 ProximaNova, sans-serif;
    text-align: center;
    padding: 10px 15px;
    background: #6db922 url(../img/whatsapp.svg) 18% 50% no-repeat;
    background-size: 20px;
    padding-left: 14%;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
    width: 100%;
    display: block;
    z-index: 50;
  }

  .mob-fix-btn a {
    color: #fff;
  }

  .works__work--baikalov .fig {
    opacity: 1;
    top: 50px;
    right: -10px;
  }

  .works__work--baikalov .logo {
    opacity: 1;
    left: 15px;
    top: 15px;
  }

  .works__work--m .logo {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0.85);
    -ms-transform: translate(-50%, -50%) scale(0.85);
    transform: translate(-50%, -50%) scale(0.85);
  }

  .works__work--cloth .fig {
    opacity: 1;
    top: 50%;
  }

  .works__work--cloth .logo {
    opacity: 1;
    bottom: 8%;
  }

  .works__work--impero .logo {
    opacity: 1;
    left: 8%;
  }

  .works__work--impero .desc {
    opacity: 1;
    bottom: 8%;
  }

  .works__work--trud .logo {
    opacity: 1;
    left: 8%;
  }

  .works__work--trud .desc {
    opacity: 1;
    bottom: 8%;
  }

  .works__work--man .logo {
    opacity: 1;
    top: 12%;
    display: block;
    z-index: 10;
  }

  .works__work--man .fig {
    opacity: 1;
    left: 50%;
  }

  .works__work--man .fig2 {
    opacity: 1;
    left: calc(48% + 10px);
  }

  .works__work--ponchik .logo {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(0.8);
    -ms-transform: translate(-50%, -50%) scale(0.8);
    transform: translate(-50%, -50%) scale(0.8);
  }

  .works__work--radio .logo {
    top: 40%;
    opacity: 1;
  }

  .works__work--radio .desc {
    top: 65%;
    opacity: 1;
  }

  .works__work--radio .fig {
    top: 50%;
    opacity: 1;
  }

  .works.big .works__work {
    width: 100%;
    height: 100vw;
  }

  .works.big {
    padding: 0;
  }

  .keys__image,
  .keys.impero .keys__image {
    padding: 0;
    width: 100%;
    top: auto;
    margin-bottom: 5rem;
  }

  .keys__header .works__work--impero .logo img {
    max-width: 125px;
  }

  .keys__header .works__work--impero .logo,
  .keys__header .works__work--impero:hover .logo {
    left: 22%;
    top: 12%;
  }

  .keys__header .works__work--impero:hover .desc {
    bottom: 8%;
  }

  .keys__header .works__work--impero .desc img {
    max-width: 180px;
  }

  .keys__header .works__work--trud .logo img {
    max-width: 125px;
  }

  .keys__header .works__work--trud .logo,
  .keys__header .works__work--trud:hover .logo {
    left: 22%;
    top: 12%;
  }

  .keys__header .works__work--trud:hover .desc {
    bottom: 8%;
  }

  .keys__header .works__work--trud .desc img {
    max-width: 180px;
  }

  .keys__header {
    height: 80vh;
  }

  .keys .works.big .works__work--cloth .woman img {
    max-width: 100%;
    width: 40vw;
  }

  .keys .works.big .works__work--cloth .fig img {
    max-width: 100%;
  }

  .works.big .works__work--baikalov .fig img {
    max-width: 55px;
  }

  .works.big .works__work--baikalov .logo img {
    max-width: 150px;
  }

  .works.big .works__work--man .fig3 img, .works.big .works__work--man .fig2 img {
    width: 107%;
  }

  .works.big .works__work--man .fig {
    top: 37%
  }

  .works.big .works__work--man .fig img {
    height: 50px;
  }

  .works.big .works__work--radio .logo img {
    max-width: 100px;
  }

  .works.big .works__work--radio .desc img {
    max-width: 95px;
  }

  .keys .img-wrap {
    padding: 30px 0;
  }

  .header__logo {
    display: block;
  }

  .header__logo.dop a {
    background-color: #0d44db;
    padding: 5px;
    border-radius: 3px;
  }
}

.feedback {
  background-color: #10121d;
  background-image: url(../img/line-maker.svg);
  background-repeat: repeat;
  background-position: center center;
  background-size: 140px;
}

.feedback .wrap {
  padding: 200px 95px;
  padding-bottom: 50px;
}

.feedback__desc {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  width: 50%;
}

.feedback__title {
  color: #fff;
  font: 400 3rem/1.2 Panton, sans-serif;
  text-align: left;
  margin-bottom: 7rem;
}

.feedback__sub-title {
  color: #454a5d;
  font: 400 2.8rem/1 ProximaNova, sans-serif;
  text-align: left;
}

.feedback__sub-title a {
  color: #454a5d;
  font: 400 2.8rem/1 ProximaNova, sans-serif;
  display: inline-block;
  margin-top: 1.4rem;
}

.feedback__action-block {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  margin-left: -5px;
  text-align: center;
}

.feedback__action-block form input,
.feedback__action-block form textarea {
  color: #fff;
  font: 400 1.55rem/2 ProximaNova, sans-serif;
  border: none;
  border-bottom: 1px solid #454a5d;
  width: 325px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding-bottom: 16px;
  text-align: left;
  background: none;
  display: block;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  resize: none;
}

.feedback__action-block form input:hover,
.feedback__action-block form input:focus,
.feedback__action-block form textarea:hover,
.feedback__action-block form textarea:focus {
  border-color: #005efe;
}

.feedback__action-block form input::-webkit-input-placeholder,
.feedback__action-block form textarea::-webkit-input-placeholder {
  color: #454a5d;
}
.feedback__action-block form input::-moz-placeholder,
.feedback__action-block form textarea::-moz-placeholder {
  color: #454a5d;
}
.feedback__action-block form input:-ms-input-placeholder,
.feedback__action-block form textarea:-ms-input-placeholder {
  color: #454a5d;
}
.feedback__action-block form input:-moz-placeholder,
.feedback__action-block form textarea:-moz-placeholder {
  color: #454a5d;
}

.feedback__action-block form input[type="submit"] {
  height: 70px;
  line-height: 68px;
  text-align: center;
  background: #005efe;
  margin-bottom: 24px;
  margin-top: 150px;
  cursor: pointer;
}

.feedback__action-block form input[type="submit"]:hover {
  opacity: .8;
}

.feedback__action-block form .desc {
  color: #454a5d;
  font: 400 1.4rem/1.2 ProximaNova, sans-serif;
  text-align: center;
}

.feedback__image {
  text-align: left;
}

.feedback__image img {
  max-width: 47rem;
}

footer .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 28px 156px;
  background: #161823;
}

.footer__desc div:first-child {
  color: #fff;
  font: 400 1.2rem/1 Gotham Pro, sans-serif;
  margin-bottom: 10px;
  display: block;
  text-transform: uppercase;
  width: 100%;
}

.footer__desc div:last-child {
  color: #616475;
  font: 400 1.2rem/1 Gotham Pro, sans-serif;
}

.footer__social {
  text-align: center;
  margin-right: 5rem;
}

.footer__social-btn {
  display: inline-block;
  vertical-align: middle;
  color: #616475;
  font: 400 1.45rem/1 GothamPro, sans-serif;
  margin-right: 3.45rem;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer__social-btn:last-child {
  margin-right: 0;
}

.footer__social-btn:hover {
  color: #005efe;
  opacity: .7;
}

@media(max-width: 1850px) and (min-width: 992px) {
  .header {
    margin-top: 5.5vw;
  }

  .main__wrap {
    height: calc(100vh - 2.375rem - 5vw);
  }

  canvas {
    width: 38vw !important;
    height: 38vw !important;
  }

  .main__man {
    top: -5rem;
    left: 0;
    height: 100%;
  }
}

.main__fio {
  color: #fff;
  font: 400 1.375rem/1.8rem Panton, sans-serif;
  text-transform: uppercase;
  position: absolute;
  right: 18rem;
  left: auto;
  top: auto;
  bottom: 6.8rem;
  z-index: 1;
}

.main__fio--type {
  position: relative;
  margin-top: 2rem;
  color: #454e68;
  font: 400 1.375rem/1.8rem ArialNarrow, sans-serif;
  text-transform: uppercase;
}

@media(max-width: 1900px) {
  html {
    font-size: 90%;
  }
}

@media(max-width: 1800px) {
  html {
    font-size: 80%;
  }
}

@media(max-width: 1650px) {
  .main__background {
    right: 26rem;
  }

  html {
    font-size: 67%;
  }
}

@media (max-width: 1366px) {
  .about .wrap {
    padding: 15.625rem 5vw;
  }
  .about {
    background-position: calc(100% - 5vw) 50%;
  }

  .competence__item--image {
    width: 100%;
  }

  .competence__item {
    padding: 0 2vw;
  }

  .competence__top--title {
    width: 100%;
    margin-bottom: 0.9375rem;;
  }

  .competence__top--desc {
    float: left;
  }

  .works__work--cloth .woman {
    height: auto;
  }

  .works__work--cloth .woman img {
    max-width: 100%;
  }

  .feedback__image img {
    max-width: 100%;
  }

}

@media (min-width: 992px) and (aspect-ratio: 4/3) {
  .main__man {
    background: url(../img/man2.png) no-repeat;
    background-position: left bottom;
    background-size: contain;
    width: 50vw;
    left: auto;
    right: 10%;
    top: 35px;
    height: calc(100% - 85px);
  }

  .main__background {
    right: 0;
  }

  canvas {
    right: 2vw;
    top: 50px;
  }

  .main__dbl {
    left: auto;
    right: 2vw;
  }
}

@media (max-width: 1280px) {
  canvas,
  .main__dbl {
    width: 48vw !important;
    height: 48vw !important;
    top: 25%;
  }

  .main__photo {
    width: calc(100% - 110px);
    height: calc(100% - 110px);
  }
}

@media (width: 1280px) and (height: 1024px) {
  .main__man {
    background: url(../img/man2.png) no-repeat;
    background-position: left bottom;
    background-size: contain;
    width: 50vw;
    left: -8%;
    top: 95px;
    height: calc(100% - 148px);
  }

  canvas {
    width: 50vw !important;
    height: 50vw !important;
    top: 100px;
  }
}

.clear:after {
  content:"";
  clear:both;
  display:block;
}

@media(max-width: 992px) {
  .about__title,
  .about__desc {
    text-align: left;
  }

  .about__desc,
  .about__sets {
    margin-bottom: 50px;
  }

  .main__wrap {
    overflow: hidden;
  }

  .wrap {
    padding: 0 25px;
    width: 100%;
  }

  .main__wrap {
    height: 100%;
    padding-bottom: 50px;
    height: calc(100vh - 70px);
  }

  .header__logo img {
    max-height: 100%;
    max-width: 40px;
  }

  .keys.woman .keys__link {
    top: -4rem;
  }

  html {
    font-size: 100%;
    padding-bottom: 36px;
  }

  .main__portfolio br {
    display: block;
  }

  .main__portfolio a {
    font-size: 2.25rem;
    line-height: 1.1;
  }

  .header {
    margin-top: 10vw;
  }

  body {
    overflow-y: scroll;
    height: auto;
    background: #141621 url(../img/line-maker.svg) repeat 50% 50%;
    background-size: 140px;
  }

  .wrapper {
    height: auto;
    padding: 0;
    width: 100%;
  }

  .header__logo {
    margin-top: 10px;
  }

  .main__content {
    margin-top: 30vw;
    width: 100%;
  }

  .main__title {
    margin: 0 0 9vw;

    line-height: 1.3;
    font-size: 2.8rem;
  }

  .main__sub-title {
    font-size: 1.7rem;
    line-height: 1.3;
  }

  .main__portfolio {
    margin-top: 14vw;
  }

  .main__portfolio a:after {
    margin-top: 18px;
    margin-left: 0;
    display: block;
    width: 60px;
    height: 60px;
    background: #33363e url(../img/port-arrow2.png) no-repeat;
    border-radius: 50%;
    background-position: 50% 50%;
  }

  .main__portfolio a:hover:after {
    -webkit-animation: none;
    animation: none;
  }

  .main__fio {
    color: #3f434d;
    font: 2rem DINcond, sans-serif;
    text-transform: uppercase;
    position: relative;
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    -webkit-animation: main__sum-title 1.5s linear forwards;
    animation: main__sum-title 1.5s linear forwards;
    margin-top: 60vw;
    display: inline-block;

    margin-top: 0;
    left: calc(100% - 70px);
    margin: 0;
    right: 0;

    display: none;
  }

  .main__background {
    left: auto;
    right: -45px;
    margin-left: 0;
    width: 80vw;
    top: calc(28vw + 235px);
    height: auto;
    bottom: auto;
    display: none;
  }

  .main__canvas {
    width: 80vw !important;
    height: 105vw !important;
  }

  canvas,
  .main__dbl {
    max-width: initial;
    max-height: initial;
    width: 95vw !important;
    height: 95vw !important;
    left: auto;
    right: -32vw;
    top: auto;
  }

  .main__dbl {
    right: -26vw;
  }

  .main__man {
    top: 0;
    height: calc(106vw + 58px);
    width: 120vw;
    left: 10.5%;
  }

  .header__communications--community-button {
    font-size: 0;
    z-index: 20;
  }

  .header__communications--community-button:after {
    margin-left: 0;
    background: rgba(92, 96, 105, 0.8) url(../img/menu-mob.png) 50% 50% no-repeat;
    background-size: calc(100% - 18px);
    opacity: .3;
    width: 55px;
    height: 55px;
    margin-top: -4px;
    background-size: 50%;
  }

  .main__portfolio {
    margin-top: 16vw;
    margin-bottom: 10vw;
  }

  .about .wrap {
    padding: 20vw 9vw;
  }

  .competence {
    padding: 15vw 0;
  }

  .about {
    background-position: 100% 90%;
    background-size: 55vw;
    height: auto;
    padding-bottom: 0;
  }

  .about.effect .about__text {
    position: relative;
    top: auto;
    left: auto;
    transform: none;
    width: 100%;
  }

  .about__desc {
    width: 100%;
    font-size: 1.5rem;
  }

  .feedback__desc {
    display: block;
    width: 100%;
    margin-bottom: 15vw;
  }

  .feedback__action-block {
    width: 100%;
    display: block;
  }

  .feedback .wrap {
    padding: 22vw 10vw;
  }

  .feedback__btn-desc {
    margin-bottom: 15vw;
  }

  .works-block {
    height: auto;
  }

  .works-block__triple--section,
  .works-block__triple--section:nth-child(n) {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    top: auto;
    margin: 0;
  }

  .works-block__triple--left .works-block__triple--section:nth-child(n) .works__work,
  .works-block__triple--right .works-block__triple--section:nth-child(n) .works__work,
  .works-block__triple--left .works-block__triple--section:nth-child(n) .works__work:nth-child(n),
  .works-block__triple--right .works-block__triple--section:nth-child(n) .works__work:nth-child(n)  {
    height: 80vh;
    position: relative;
    top: auto;
    margin: 0;
    background-size: cover;
  }

  .about__text,
  .about.black .about__text {
    text-align: center;
    width: 100%;
  }

  .about__button {
    margin: 0 auto;
  }

  .about.effect .about__button {
    position: relative;
    bottom: auto;
  }

  .about,
  .about.black .wrap,
  .about.packing {
    background-image: none;
  }

  .about.black .wrap {
    padding: 20vw 9vw;
  }

  .about__sets-item {
    text-align: left;
  }

  .footer__desc {
    margin-bottom: 15px;
    display: none;
  }

  .footer__social-btn:nth-child(3) {
    margin-right: 0;
  }

  /*.footer__social-btn:last-child {*/
  /*display: none;*/
  /*}*/

  footer .wrap {
    padding: 15px 25px;
  }

  .footer__social {
    margin: 0 auto;;
  }

  .feedback__action-block form input,
  .feedback__action-block form textarea {
    width: 100%;
  }

  .footer__social-btn {
    margin-right: 0.8rem;
  }

  .works__work--cloth .woman {
    height: 95%;
  }

  .main__portfolio a:before {
    display: none;
  }

  .main__portfolio a {
    width: 260px;
    height: 65px;
    text-align: center;
    background: #0d44db;
    color: #fff;
    font: 400 1.3rem/63px ProximaNova, sans-serif;
    border-radius: 2px;
    cursor: pointer;
    padding-left: 0;
    text-transform: none;
    max-width: calc(100% - 10px);
  }

  .main__portfolio a br {
    display: none;
  }

  .works__work--man .fig img {
    height: 45px;
  }

  .works__work--man .fig {
    top: 47%;
  }

  .works__work--man .fig2, .works__work--man .fig3 {
    left: 53%;
  }

  .works__work--man .fig3 img, .works__work--man .fig2 img {
    max-width: 100000%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    width: 125%;
  }

  /*.big .works__work--cloth .woman {
   left: 40%;
 }
 */
  .big .works__work--cloth .fig img {
    max-width: 45vw;
  }

  .big .works__work--baikalov {
    background-size: cover;
  }

  /*.big .works__work--man .fig {
    top: 50%;
    }*/

  /*.big .works__work--man .fig img {
    height: 95px;
    }*/

  .keys__header {
    display: none;
  }

}

@media(min-width: 730px) {
  body {
    background-size: cover;
  }
}

@media (max-width: 780px) {
  nav {
    float: left;
    width: 100%;
    margin: 0;
    margin-top: 20px;

    display: none;
  }

  .header__communications--community-button {
    top: 10vw;
    right: 25px;
    position: absolute;
  }

  .works__work {
    position: relative !important;
    width: 100vw !important;
    height: 50vh !important;
    display: block;
    margin: 0 !important;
    padding: 0 !important;
  }

  .works {
    padding: 0;
  }
}

@media (max-width: 730px) {
  .competence__main {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .competence__item,
  .competence__item:nth-child(n) {
    width: 100%;
    margin: 0;
    border: 1px solid #315efb;
  }
}

@media (max-width: 650px) {
  .about__text:after {
    bottom: -60px;
  }

  .works-block__triple--left .works-block__triple--section:nth-child(n) .works__work, .works-block__triple--right .works-block__triple--section:nth-child(n) .works__work, .works-block__triple--left .works-block__triple--section:nth-child(n) .works__work:nth-child(n), .works-block__triple--right .works-block__triple--section:nth-child(n) .works__work:nth-child(n) {
    height: 63vh;
  }

  .about {
    background-size: 75vw;
    background-position: 100% 95%;
  }

  .feedback__title {
    font-size: 3rem;
    margin-left: 0;
  }

  .feedback__sub-title,
  .feedback__sub-title a {
    font-size: 2rem;
  }

  .feedback__action-block form input[type="submit"] {
    margin-top: 0;
  }

  .feedback__sub-title a {
    margin-top: 1rem;
  }

  .feedback__sub-title {
    margin-left: 0;
  }

  .competence__top {
    margin-bottom: 9rem;
  }

  .feedback__call * {
    font-size: 1.8rem;
  }

  .feedback__call-desc {
    margin-bottom: 1.2rem;
  }

  .feedback__social-btn {
    margin-right: 5px;
  }

  .about__button--git {
    margin-bottom: 10px;
  }

}

@media(max-width: 480px) {

  html {
    font-size: 65%;
  }

  .competence__item--image {
    margin-bottom: 15px;
  }

  .competence__item--title {
    margin-bottom: 10px;
  }

  .competence__item--desc {
    margin-bottom: 7.5rem;
  }

  .competence__item--image {
    height: 130px;
  }

  .competence .wrap {
    padding: 0 0;
    width: 100%;
  }

  .competence__top--title,
  .competence__top--desc {
    padding: 0 15px;
  }

  .works-block__triple--left .works-block__triple--section:nth-child(n) .works__work, .works-block__triple--right .works-block__triple--section:nth-child(n) .works__work, .works-block__triple--left .works-block__triple--section:nth-child(n) .works__work:nth-child(n), .works-block__triple--right .works-block__triple--section:nth-child(n) .works__work:nth-child(n) {
    height: 63vh;
    margin-bottom: 10vw;
  }

  .works__work--cloth .woman img {
    max-width: 10000%;
    width: 135%;
  }

  .works__work--man .fig img {
    height: 45px;
  }

  .works__work--man .fig {
    top: 47%;
  }

  .works__work--man .fig2, .works__work--man .fig3 {
    left: 53%;
  }

  .works__work--man .fig3 img, .works__work--man .fig2 img {
    max-width: 100000%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    width: 125%;
  }

  .feedback__social-btn {
    margin-bottom: 10px;
  }

  .works__work--cloth .woman img {
    max-width: 10000%;
    width: 135%;
  }

  .works__work--cloth .woman img {
    max-width: 10000%;
    width: 78%;
    position: absolute;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  .works__work--cloth .woman {
    height: 95%;
    position: relative;
    width: 100%;
  }

  .works__work.works__work--man {
    background: #1c1f2a;
  }

  .works__work--cloth .fig {
    opacity: 1;
    top: 50%;
    width: 70vw;
    height: 70vw;
  }

  .works__work--cloth .fig img {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .about__text:after {
    bottom: -35px;
    width: 6rem;
    height: 3px;
  }

  nav ul li {
    margin-right: 15px;
  }

  .wrap {
    padding: 0 25px;
  }

  canvas, .main__dbl {
    top: 15%;
  }

  .main__background {
    top: calc(3vw + 235px);
  }
}

@media (max-width: 340px) {
  .main__man {
    height: calc(106vw + 130px);
  }
}

@media(min-width: 1850px) {
  html {
    font-size: 88%;
  }
  .header__logo {
    margin-top: 0.9375rem;
  }
  .main__background {
    max-width: 51.5625rem;
    height: calc(100vh - 3.375rem - 7.125rem);
  }

  .main__man {
    top: -3rem;
    left: 0;
    background-position: 50% 15px;
    background-size: auto;
  }
}

@media(min-width: 1921px) {
  .main__man {
    background: url(../img/man2.png) no-repeat;
    background-position: left bottom;
    background-size: contain;
    width: 50vw;
    left: -8%;
    top: 5rem;
    height: 100%;
  }

  canvas {
    max-width: 999999px;
    max-height: 9999999px;
    width: 28vw !important;
    height: 28vw !important;
  }
}

@media(width: 1024px) and (height: 1366px) {
  .main__content {
    margin-top: calc(40vh - 114px);
  }

  canvas,
  .main__dbl {
    top: 52vh;
    left: auto;
    right: 0;
  }

  .main__man {
    background: url(../img/man2.png) 155px 50% no-repeat;
    background-position: 50% bottom;
    background-size: contain;
  }
}

@media(width: 1366px) and (height: 1024px) {
  .main__man {
    background: url(../img/man2.png) 155px 50% no-repeat;
    background-position: 50% bottom;
    background-size: contain;
  }

  canvas {
    right: 0;
    top: 15vh;
  }
}

@-ms-viewport {
  user-zoom: fixed;
}

@-o-viewport {
  user-zoom: fixed;
}

@viewport {
  user-zoom: fixed;
}